.section_estadistica {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-list {
  background-color: #14182d;
  width: 90%;
  height: 90%;
  padding: 20px;
  box-sizing: border-box;
}

.ItemTransaccion {
  background-color: #090a0e;
  width: 100%;
  padding: 10px;
  margin: 0 auto 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.ItemTransaccion p {
  display: inline-block;
  width: 50%;
  margin: 0;
}

.ItemTransaccion:hover span {
  cursor: pointer;
  color: rgb(255, 53, 53);
}
