.section-registros-pages {
  width: 100%;
  min-height: 450px;
  margin-top: 40px;
  background: var(--bg-primary);
}
.section-registros-pages ul {
  border-radius: 15px;
}

.section-registros {
  width: 60%;
  min-height: 465px;
  background: var(--bg-primary);
  display: grid;
  grid-template-rows: 15% 85%;
}
.section-registros-head {
  padding: 20px 20px 0;
  display: flex;
  justify-content: space-between;
}
.ver-todos {
  font-weight: bold;
  font-size: var(--text-small);
  color: var(--text-color-primary);
}

/* LISTA */
.section-registros-lista {
  background: var(--bg-primary);
  padding: 15px 20px 20px;
  border-radius: 0 0 15px 15px;
}

/* ITEMS */
.section-registros-items {
  background: var(--bg-header);
  width: 100%;
  padding: 15px;
  margin: 8px auto;
  border: 1px solid var(--border-primary);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-registros-items div {
  display: flex;
  align-items: center;
}
.section-registros-items .category-descripcion {
  display: flex;
  flex-direction: column;
}
.section-registros-items .month-date {
  display: flex;
  flex-direction: column;
}
.section-registros-items .item-fecha {
  margin-left: 15px;
  font-size: var(--text-small);
  color: var(--text-secondary);
}
.item-icon-delete {
  font-size: var(--text-small);
  color: var(--text-secondary);
  margin-left: 10px;
}
.item-icon-delete:hover {
  cursor: pointer;
  color: var(--button-red);
}

.item-icon-edit {
  color: var(--text-secondary);
  margin-left: 20px;
}
.item-icon-edit:hover {
  cursor: pointer;
  color: white;
}
.category-icon {
  width: 25px;
  height: 25px;
  margin-right: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: black;
}

/* PANEL DE FILTROS */
.sectionRegistros-filtros {
  width: 100%;
  margin: 10px auto;
  background: var(--bg-primary);
}
.sectionRegistros-filtros-head {
  background: linear-gradient(var(--bg-secondary), var(--bg-primary));
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 15px 15px 0 0;
}
.registros-filtros-avanzados {
  padding: 20px;
  display: flex;
  gap: 15px;
}
.registros-filtros-avanzados > div {
  position: relative;
  width: 100%;
}
.registros-filtros-avanzados label {
  display: flex;
  flex-direction: column;
  font-size: var(--text-small);
  color: var(--text-secondary);
}
.registros-filtros-avanzados select,
.registros-filtros-avanzados input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  margin-top: 10px;
  background: var(--bg-body);
  font-size: var(--text-small);
  color: var(--text-secondary);
  border-radius: 10px;
  border: 1px solid var(--border-primary);
  outline: none;
}
.registros-filtros-avanzados select:focus {
  border: 1px solid var(--button-primary);
  box-shadow: 0 0 5px rgb(79, 57, 246);
}
.registros-filtros-avanzados .btn-reset {
  width: 100%;
  height: 40px;
  background: var(--button-primary);
  font-size: var(--text-small);
  color: var(--text-primary);
  font-weight: bold;
  border-radius: 10px;
  border: none;
  position: absolute;
  bottom: 0;
}

.sectionRegistros-search {
  width: 450px;
  height: 40px;
  background: var(--bg-primary);
  border: 1px solid var(--border-primary);
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.sectionRegistros-search span {
  margin: 0 10px;
  font-size: 2rem;
  color: var(--text-secondary);
}
.sectionRegistros-search input {
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: var(--text-small);
  color: var(--text-secondary);
  border: none;
  outline: none;
}
.sectionRegistros-search:focus-within {
  border: 1px solid var(--button-primary);
  box-shadow: 0 0 5px rgb(79, 57, 246);
}

@media (max-width: 780px) {
  .section-registros {
    width: 100%;
  }
  .section-registros-pages {
    margin-top: 20px;
  }
}

@media (max-width: 580px) {
  main:not(.main-inicio) {
    background-color: var(--bg-primary);
    width: 100%;
    margin: 0;
    padding-bottom: 20px;
  }
  .section-registros-head {
    padding: 15px;
  }
  .section-registros-lista {
    padding: 0 0 10px 0;
    min-height: auto;
  }
  .section-registros-items {
    margin: 3px auto;
    border-radius: 5px;
  }
  .item-icon-delete {
    display: none;
  }
  .item-icon-edit {
    display: none;
  }
  .category-icon {
    width: 35px;
    height: 35px;
    border-radius: 50px;
  }

  .section-registros-pages {
    margin-top: 20px;
    border: none;
    box-shadow: none;
  }
  .section-registros-pages .section-registros-items {
    background: var(--bg-header);
    border-radius: 5px;
    border: none;
  }
  /* filtros */
  .sectionRegistros-filtros {
    border: none;
    box-shadow: none;
    border-radius: 0;
  }
  .sectionRegistros-filtros-head {
    background: transparent;
    padding: 15px 5px 0;
  }
  .sectionRegistros-filtros-head h3,
  .registros-filtros-avanzados .btn-reset {
    display: none;
  }

  .sectionRegistros-search {
    width: 100%;
  }
  .registros-filtros-avanzados {
    flex-direction: column;
    padding: 0;
    gap: 0;
  }
  .registros-filtros-avanzados input,
  .registros-filtros-avanzados select,
  .registros-filtros-avanzados label {
    display: none;
  }
  .registros-filtros-avanzados select:focus {
    border: none;
    box-shadow: none;
    background-color: var(--bg-body);
  }
}

/* MODAL DE SELECCION DE MES */
.contain-btn-mes {
  display: none;
}
.month-modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.btn-mes {
  width: 100%;
  height: 40px;
  margin-top: 15px;
  border: none;
  background: var(--button-primary);
  color: var(--text-primary);
  font-size: var(--text-medium);
  display: flex;
  align-items: center;
  justify-content: center;
}
.month-modal {
  background: var(--bg-primary);
  border: 1px solid var(--border-primary);
  box-shadow: 0 4px 5px black;
  border-radius: 10px;
  padding: 15px;
}
.month-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.month-modal-btn-closed {
  background: transparent;
  border: none;
  color: var(--text-secondary);
  font-size: var(--text-large);
  cursor: pointer;
}
.month-modal-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
}
.month-modal-buttons button {
  width: 85px;
  min-height: 40px;
  border: none;
  color: var(--text-color-primary);
  font-size: var(--text-small);
  font-weight: bold;
  background: none;
}

@media (max-width: 580px) {
  .input-date {
    display: none;
  }
  .contain-btn-mes {
    display: block;
  }
}

/* Estado lista vacia */
.estado-lista-vacia {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.estado-lista-vacia > div {
  background-color: var(--bg-body);
  width: 100%;
  height: 40px;
  border-radius: 10px;
}
.estado-lista-vacia > p {
  margin-top: 40px;
  color: var(--text-secondary);
}

.dark {
  height: 450px;
}
.dark > div {
  background-color: var(--bg-primary);
}
