/* RESUMEN MENSUAL */
.resumenMensualInicio {
  width: 40%;
  display: flex;
  flex-direction: column;
  background: var(--bg-primary);
}

@media (max-width: 1200px) {
  .resumenMensualInicio {
    width: 50%;
  }
}
.resumenMensualInicio-header {
  height: 80px;
  padding: 20px 20px 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.resumenMensualInicio-body {
  height: 100%;
  background: var(--bg-primary);
  padding: 0 20px 20px;
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.resumenMensualInicio-grafico {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resumenMensualInicio-grafico svg {
  width: 100%;
  height: 180px;
}

.resumenMensualInicio-grafico p {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--text-secondary);
  font-weight: 700;
}
.resumenMensualInicio-grafico .numero {
  color: var(--text-primary);
  font-size: var(--text-small);
  font-weight: 900;
}

.resumenMensual-lista {
  width: 100%;
}

.resumenMensual-itemsLista {
  width: 100%;
  background-color: var(--bg-body);
  border-radius: 5px;
  padding: 8px;
  margin: 4px auto;
  display: flex;
  justify-content: space-between;
}
.resumenMensual-itemsLista p {
  display: flex;
  gap: 10px;
}
.resumenMensual-itemsLista p:last-child {
  font-size: var(--text-small);
  color: var(--text-secondary);
  gap: 20px;
}

/* RESUMEN MENSUAL EN SECCION DE ESTADISTICAS */
.seccionResumenEstadisticas {
  width: 100%;
  display: flex;
  gap: 30px;
  background: var(--bg-primary);
  padding: 20px;
}
.seccionResumenEstadisticas-grafico {
  width: 50%;
}

.seccionResumenEstadisticas-lista {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.seccionResumenEstadisticas-title p {
  font-size: var(--text-small);
  color: var(--text-secondary);
}
.seccionResumenEstadisticas-grafico .grafico-circular {
  width: 100%;
  height: 80%;
  margin-top: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccionResumenEstadisticas-grafico .grafico-circular svg {
  width: 60%;
}
.seccionResumenEstadisticas-grafico .text-grafico {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--text-secondary);
  font-weight: 700;
}
.seccionResumenEstadisticas-grafico .text-grafico .numero {
  color: var(--text-primary);
  font-weight: 900;
}

/* RESUMEN ANUAL */
.resumen-anual {
  margin-top: 40px;
  background-color: var(--bg-primary);
}
.resumen-anual-header {
  padding: 20px;
}
.resumen-anual-header p {
  font-size: var(--text-small);
  color: var(--text-secondary);
}

.resumen-anual-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.resumen-anual-body .barras-wrapper {
  height: 250px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.resumen-anual-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: var(--text-small);
}
.resumen-anual-info b {
  margin: 15px;
}

.columna {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  max-width: 60px;
  min-width: 50px;
  flex: 1;
}

.barra {
  width: 100%;
  background-color: #4facfe;
  border-radius: 4px 4px 0 0;
  transition: height 0.5s ease-in-out;
  cursor: pointer;
}

.barra:hover {
  filter: brightness(1.2);
  transform: scaley(1.1);
}

.etiqueta-gasto {
  font-size: 12px;
  color: var(--text-secondary);
  margin-bottom: 10px;
}

.etiqueta-mes {
  color: var(--text-primary);
  margin-top: 8px;
  font-size: var(--text-small);
}

/* RESUMEN INGRESOS VS EGRESOS */
.resumen-ingVsEgre {
  margin-top: 40px;
  height: 350px;
  background: var(--bg-primary);
}
.resumen-ingVsEgre-header {
  padding: 20px;
}
.resumen-ingVsEgre-header p {
  font-size: var(--text-small);
  color: var(--text-secondary);
}
.resumen-ingVsEgre-body {
  height: calc(100% - 80px);
  padding: 0 20px 20px;
  display: flex;
  align-items: end;
  gap: 5px;
}
.resumen-ingVsEgre-body-barras {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.content-barras {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: end;
  gap: 3px;
}
.barra-ingresos {
  width: 25px;
  background-color: var(--button-green);
  border-radius: 5px;
}
.barra-gastos {
  width: 25px;
  background-color: var(--button-red);
  border-radius: 5px;
}
@media (max-width: 1200px) {
  .barra-ingresos {
    width: 20px;
  }
  .barra-gastos {
    width: 20px;
  }
}
.barras-info {
  margin-top: 10px;
  font-size: var(--text-small);
  color: var(--text-primary);
}

/* Contenedor principal del tooltip */
.tooltipHover {
  position: absolute;
  top: 0;
  background-color: var(--bg-header);
  border: 1px solid var(--border-primary);
  border-radius: 5px;
  padding: 5px;
  font-size: var(--text-small);
  display: flex;
  flex-direction: column;
  gap: 2px;
  opacity: 0;
  transition: opacity 0.3s ease;
  box-shadow: 0 15px 40px -12px rgba(0, 0, 0);
  min-width: 140px;
}

.resumen-ingVsEgre-body-barras:hover .tooltipHover {
  opacity: 1;
}

/* Título del tooltip */
.tooltipTitle {
  font-weight: bold;
  border-bottom: 1px solid var(--text-secondary);
  padding-bottom: 0.25rem;
  margin-bottom: 0.25rem;
}
/* Texto neto */
.tooltipNeto {
  color: var(--text-secondary);
  padding-top: 4px;
}
