* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --bg-body: rgb(32, 32, 38);
  --bg-primary: rgb(20, 23, 28);
  --bg-secondary: rgb(31, 42, 81);
  --bg-header: rgb(31, 42, 81, 0.7);

  --text-primary: white;
  --text-secondary: rgb(200, 200, 200);
  --text-color-primary: rgb(119, 119, 255);
  --text-color-green: rgb(0, 212, 146);
  --text-color-red: rgb(255, 83, 83);

  --text-large: 1.8rem;
  --text-medium: 1.6rem;
  --text-small: 1.4rem;

  --border-primary: rgb(31, 42, 60);
  --button-primary: rgb(79, 57, 246);
  --button-red: rgb(254, 83, 83);
  --button-green: rgb(0, 212, 146);
}

body {
  background: var(--bg-body);
  font-size: var(--text-medium);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-primary);
}

header {
  width: 100%;
  height: 70px;
  padding: 0 15px;
  background: var(--bg-header);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-primary);
  position: fixed;
  top: 0;
  z-index: 1;
}
header h1 {
  font-size: clamp(1.6rem, 2vw, 2.3rem);
}

.header-navegation {
  width: 55%;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--bg-body);
  display: flex;
  position: relative;
}
.header-navegation button {
  width: 33%;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: var(--text-medium);
  transition: color 0.3s ease;
}
.header-navegation-logo {
  display: flex;
}

.header-navegation button:hover {
  color: var(--text-primary);
}
.button-active {
  color: var(--text-primary);
  background-color: var(--button-primary);
}
.button-inActive {
  color: var(--text-secondary);
  background: transparent;
}

header .button-modal {
  height: 40px;
  background: var(--button-primary);
  color: var(--text-primary);
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  font-size: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.button-modal-movil {
  width: 60px;
  height: 60px;
  background: var(--button-primary);
  color: var(--text-primary);
  border: none;
  border-radius: 50px;
  box-shadow: 0 0 6px black;
  font-size: 2rem;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
}

header .button-modal:hover {
  background: rgb(93, 73, 248);
}
.button-modal-movil:hover {
  background: rgb(93, 73, 248);
}

ul {
  list-style: none;
}

main {
  width: 60%;
  margin: 0 auto;
}
.main-inicio {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

section {
  border: 1px solid var(--border-primary);
  box-shadow: 0 5px 10px rgb(0, 0, 0);
  border-radius: 15px;
  margin-top: 10px;
}
section h3 {
  font-size: var(--text-large);
  font-weight: 600;
}

footer {
  width: 100%;
  margin-top: 40px;
  padding: 20px;
  background-color: var(--bg-primary);
  border-top: 1px solid var(--border-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-derechos {
  color: var(--text-secondary);
  font-size: var(--text-small);
}

/* Estados de carga */
.estado-de-carga {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spinner {
  width: 35px;
  height: 35px;
  border: 5px solid var(--bg-body);
  border-top: 5px solid var(--text-color-primary);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Media queries */
@media (max-width: 1160px) {
  main {
    width: 75%;
  }
}
@media (max-width: 950px) {
  main {
    width: 85%;
  }
}
@media (max-width: 780px) {
  main {
    width: 90%;
  }
  .main-inicio {
    flex-direction: column;
    gap: 10px;
  }
  footer {
    margin-top: 40px;
  }
}

@media (max-width: 580px) {
  main {
    width: 95%;
    margin-top: 10px;
  }
  header {
    background-color: var(--button-primary);
    position: relative;
    align-items: end;
    height: 60px;
    padding: 0px;
    align-items: end;
  }
  header h1 {
    display: none;
  }
  .header-navegation {
    background-color: transparent;
    width: 100%;
    height: 80%;
    border-radius: 0;
    padding: 0;
  }
  .header-navegation button {
    padding: 0px;
    gap: 4px;
    color: var(--text-primary);
    font-size: var(--text-medium);
  }
  .header-navegation-logo {
    display: none;
  }
  header .button-modal {
    display: none;
  }
  .button-modal-movil {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  footer {
    padding: 10px;
  }
}
