.main-cards {
  width: 60%;
  height: 20vh;
  margin: 80px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-cards article {
  width: 32%;
  padding: 15px;
  border: 1px solid rgb(37, 41, 57);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgb(0, 0, 0);
}
.card-balance {
  background: var(--bg-header);
}
.card-ingreso {
  background: linear-gradient(var(--bg-secondary), var(--bg-primary));
}
.card-gasto {
  background: linear-gradient(var(--bg-secondary), var(--bg-primary));
}
.main-cards p {
  color: var(--text-secondary);
}
.main-cards .number {
  font-size: clamp(1.7rem, 2.6vw, 2.8rem);
  font-weight: 900;
  color: var(--text-primary);
}
.main-cards .number-green {
  font-size: clamp(1.7rem, 2.6vw, 2.8rem);
  font-weight: 900;
  color: var(--text-color-green);
}
.main-cards .number-red {
  font-size: clamp(1.7rem, 2.6vw, 2.8rem);
  font-weight: 900;
  color: var(--text-color-red);
}

.cards-textSmall {
  margin-top: 10px;
}
.card-textGreen {
  color: var(--text-color-green);
}
.card-textRed {
  color: var(--text-color-red);
}
.card-textDate {
  color: var(--text-color-primary);
}

@media (max-width: 1440px) {
  .main-cards {
    width: 70%;
  }
}
@media (max-width: 1160px) {
  .main-cards {
    width: 75%;
  }
}
@media (max-width: 950px) {
  .main-cards {
    width: 85%;
  }
}
@media (max-width: 600px) {
  .main-cards {
    width: 95%;
    height: 8vh;
    margin-top: 10px;
  }
  .cards-textSmall {
    display: none;
  }
  .card-textDate {
    display: none;
  }
  .main-cards article {
    padding: 8px;
  }
}

@media (max-width: 400px) {
  .main-cards article {
    box-shadow: 0 4px 5px black;
  }
  .card-textTitle {
    font-size: 1.1rem;
  }
  .main-cards .number {
    font-size: var(--text-small);
  }
  .main-cards .number-green {
    font-size: var(--text-small);
  }
  .main-cards .number-red {
    font-size: var(--text-small);
  }
}
