.main-cards {
  width: 60%;
  height: 20vh;
  margin: 80px auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-cards article {
  width: 32%;
  padding: 15px;
  border: 1px solid rgb(37, 41, 57);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgb(0, 0, 0);
}
.card-balance {
  background: var(--bg-header);
}
.card-ingreso {
  background: linear-gradient(var(--bg-secondary), var(--bg-primary));
}
.card-gasto {
  background: linear-gradient(var(--bg-secondary), var(--bg-primary));
}
.main-cards p {
  color: var(--text-secondary);
}
.main-cards .number {
  font-size: clamp(1.6rem, 2.6vw, 2.6rem);
  font-weight: 900;
  color: var(--text-primary);
}
.main-cards .number-green {
  font-size: clamp(1.6rem, 2.6vw, 2.6rem);
  font-weight: 900;
  color: var(--text-color-green);
}
.main-cards .number-red {
  font-size: clamp(1.6rem, 2.6vw, 2.6rem);
  font-weight: 900;
  color: var(--text-color-red);
}

.cards-textSmall {
  margin-top: 10px;
  font-size: var(--text-small);
}
.card-textGreen {
  color: var(--text-color-green);
}
.card-textRed {
  color: var(--text-color-red);
}
.card-textDate {
  color: var(--text-color-primary);
  font-size: var(--text-small);
}

@media (max-width: 1160px) {
  .main-cards {
    width: 75%;
  }
}
@media (max-width: 950px) {
  .main-cards {
    width: 85%;
  }
}
@media (max-width: 780px) {
  .main-cards {
    width: 90%;
    height: 15vh;
  }
}

@media (max-width: 580px) {
  .main-cards {
    width: 100%;
    height: 7vh;
    margin-top: 0px;
    background-color: var(--bg-body);
  }
  .main-cards article {
    /* background: linear-gradient(var(--bg-secondary), var(--bg-primary)); */
    background: var(--bg-body);
    width: 100%;
    height: 100%;
    box-shadow: none;
    border-radius: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .card-textTitle {
    font-size: var(--text-small);
  }
  .cards-textSmall {
    display: none;
  }
}
